.about-me {
  height: auto;
  padding: 20px 40px;
}
.profile {
  max-width: 30%;
  max-height: 500px;
  border-radius: 24px;
  box-shadow: rgb(71, 71, 71) -3px 5px 5px -3px;
}
.about-me .container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.about-me-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--tauper-gray);
  font-family: cursive;
  line-height: 35px;
  margin: 0 20px;
}
.about-me-text button {
  color: var(--beige);
  background-color: var(--light-blue);
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(71, 71, 71) -3px 5px 5px -3px;
}
.about-me-text button a {
  color: inherit;
  text-decoration: none;
}
.about-me-text span {
  color: var(--light-blue);
  font-weight: 700;
  font-size: 16px;
}
.about-me-text a {
  text-decoration: underline;
  color: var(--light-blue);
}
.about-me-text a:hover {
  opacity: 0.8;
}
