header .container nav .hamburger {
  display: none;
}
@media (max-width: 1300px) {
  main .container .carrossel img {
    max-width: 200px;
    height: 200px;
  }
}
@media (max-width: 1090px) {
  .hero .container {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .hamburger,
  .menu-hamburguer {
    display: block;
  }
  .informacoes-hero-bottom p {
    display: none;
  }
  main .container .faixa-subtitle {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .sobre-mim img {
    max-width: 50%;
  }
}
.paragrafo_natal-rn-responsivo {
  display: none;
}
@media (max-width: 425px) {
  header .logo h1 {
    font-size: 15px;
  }
  .paragrafo_natal-rn-responsivo {
    display: block;
  }
  .paragrafo_natal-rn {
    display: none;
  }
}
@media (max-width: 320px) {
  header .logo h1 {
    display: none;
  }
}
main .container .text-CTA {
  max-width: 300px;
}
