header .container nav .hamburger {
  display: none;
}
@media (max-width: 1300px) {
  main .container .carrossel img {
    max-width: 200px;
    height: 200px;
  }
}
@media (max-width: 1090px) {
  .hero .container {
    background-size: 100%;
  }
  .hero .hero-container {
    background-size: 80%;
  }
}
.button-help-responsivo {
  display: none;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .button-help {
    display: none;
  }
  .button-help-responsivo {
    display: block;
  }
}
@media (max-width: 768px) {
  header .container .menu .menu-list {
    display: none;
  }
  header .container .menu .hamburger,
  .menu-hamburguer {
    display: block;
  }
  header .button-help {
    display: none;
  }
  .information-hero-bottom p {
    display: none;
  }
  .hero {
    height: 70vh;
  }
  .hero .hero-container {
    background-size: 100%;
  }
  main .container1 .img-main {
    width: 300px;
  }
  main .container .range-subtitle {
    font-size: 1.5rem;
  }
  main .container1 .subcontainer {
    width: 100%;
    min-width: 300px;
  }
}
@media (max-width: 460px) {
  .about-me img {
    max-width: 50%;
  }
}
.paragraph-natal-rn-responsivo {
  display: none;
}
@media (max-width: 425px) {
  header .logo h1 {
    font-size: 15px;
  }
  .paragraph-natal-rn-responsivo {
    display: block;
  }
  .paragraph-natal-rn {
    display: none;
  }
}
@media (max-width: 320px) {
  header .logo h1 {
    display: none;
  }
}
